@charset "utf-8"


/* it was ignoring the first declaration block, so I put a useless buffer */
	head {  color:black;  }

	body {  
		background-color:#201F23;
		color:#EEEEEE; 
		font-family:"baskerville old face", georgia; 
		line-height:1.7;
		font-size:clamp(12px, 2vw, 29px);
	     }

	p {
		padding: 5px 15px 5px 15px;
		clear:both;
	  }


	a:link { 
		 color:#CBAF46;
	  }


	a:visited { 
		 color:#A58C2F;
	  }


	a:hover {
		  color:#ebd480;
 		}


	a:active {
		  color:#ebd480;
 		}


	h1  {  
		color:#784DB9;
		font-variant:small-caps;
		font-family:"segoe script"; 
	    }

	
	h3 {
		color:#99DFF5;
		font-variant:small-caps;
		font-family:"segoe script"; 
		text-align:center;
	   }


	li {
		list-style-type:none;
		list-style-image:url(../images/bigger_bullet.jpg);
		list-style-position:inside;
	   }


	table {
		border:2px solid #EEEEEE;
		border-collapse: collapse;
	      }


	th, td {
		border:1px solid #DDDDDD;
		padding:10px;
	       }


	th {
		background-color:rgba(73, 0, 138, 0.3);
		color:#CBAF46;
	   }




/*special rules for ids and classes*/


	#margins {
		margin: 0px 40px 0px 40px;
		clear:both;
		 }

	#sidebar {
		   color:#784DB9;
		   font-variant:small-caps;
		   text-align:center;
		   background-color:#201F23;
		   padding: 15px;
		   border:3px inset #784db9;
		   position:sticky;
		   top:1px;
		   z-index:100;
		   
		 }

	#edges { 
		  background-image:url(../images/background.jpg);
		  background-repeat:repeat y;
		  width:100%;
		  height:auto;
		  clear:both;
		  
	       }


	#weekly_news {
		background-color:rgba(73, 0, 138, 0.3);
		border:2px solid #784DB9;
		padding:15px 15px 15px 15px;
		color:#CBAF46;
		width:36%;
		height:60%;
		position:absolute;
		top:1150px;
		left:58%;
		text-align:justify;
		overflow:auto;
		     }


	#no_blue {
		color:#CBAF46;
		 }


	 #ban {
		margin:0px;
		width:100%;
		height:auto;
		max-width:100%;
	      }


	#myu_ether {
		position:absolute;
		top:3000px;
		left:75%;
		height:auto;
		width:20%;
		border:2px solid #EEEEEE;
		   }


	#pfp {
		position:absolute;
		top:680px;
		left:82%;
		height:auto;
		width:15%;
		border: 2px solid #EEEEEE;
	     }


	#symbol {
		position:absolute;
		top:865px;
		left:63%;
		height:auto;
		width:35%;
		}


	#regions {
		margin:0px;
		width:100%;
		height:auto;
		max-width:100%;
		border: 2px solid #EEEEEE;
		 }


	#whoops {
		position:absolute;
		top:7665px;
		left:69%;
		height:auto;
		width:28%;
		border: 2px solid #EEEEEE;
		}


	#table {
		display:flex;
		justify-content:center;
		}


	.wawawa {
		width:55%;
		}


	.wawa {
		width:70%;
	      }

	
	.wa {
		width:65%
	    }


	.warning {
		font-family:arial;
		font-size:115%;
		color:red;
		 }


/*the if then statement bum bum bum*/


	@media all and (max-width:1400px) {
		li {
			list-style-image:url(../images/custom_bullet.jpg);
		   }

		#margins {
			margin: 0px 20px 0px 20px;
			 }

		.wawawa {
			width:100%;
			}

		.wawa {
			width:100%;
		      }

		.wa {
			width:100%;
		    }

		#weekly_news {
			width:auto;
			height:50%;
			position:relative;
			top:0px;
			left:0px;
			     }

		#pfp {
			position:relative;
			top:20px;
			left:30%;
			height:auto;
			width:30%;
		     }

		#myu_ether {
			position:relative;
			top:20px;
			left:33%;
			height:auto;
			width:350px;
			   }

		#symbol {
			position:relative;
			top:10px;
			left:25%;
			width:50%;
			}

		#whoops {
			position:relative;
			top:10px;
			left:25%;
			width:50%;
			}
					 }









